<div class="container">

  <div class= "row">
    <div class="col-md-2">
      <div class= "profile">
        <%= @profile.display_name %>
        <img src=<%= @profile.picture %> class="img-responsive">
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <textarea class="form-control" name= "content" rows="5"><%= @profile.about %></textarea>
      </div>
    </div>
    
    <div class="col-md-2">
      <a href="mailto:<%= @profile.email %>"><button class="btn btn-primary btn-lg">Connect with me</button></a>
    </div>
  </div>

  <div class= "row">
    <div class="col-md-2">
      <div class = "rating">
        <br>
        <button type="submit" class="btn btn-success">Rate me punk</button>
      </div>
    </div>

    <div class="col-md-4">
      <strong>Rating as a Teacher:</strong>
      <img src="http://booksidekicks.com/wp-content/uploads/2014/04/Gold-star1.png" class="img-responsive">
    </div>

    <div class="col-md-4">
      <strong>Rating as a Student:</strong>
      <img src="http://booksidekicks.com/wp-content/uploads/2014/04/Gold-star1.png" class="img-responsive">
    </div>
  </div>

  <div class= "row">
    <div class="col-md-2">
        <div class = "skills">
          <br>
          <ul>
            <li><a href="#">Skill 1</a></li>
            <li><a href="#">Skill 2</a></li>
            <li><a href="#">Skill 3</a></li>
            <li><a href="#">Skill 4</a></li>
            <li><a href="#">Skill 5</a></li>
          </ul>
      </div>
    </div>

    <div class="col-md-8">
        <div class = "feedback">
          <br style="line-height: 250%">

          <div class="row">
            <div class="col-md-2">
              <div class="row">
                <img src="http://i.dailymail.co.uk/i/pix/2016/05/23/22/348B85E200000578-3605456-image-m-37_1464040594420.jpg" class="img-responsive">
              </div>
              <div class="row">
                <img src=https://www.newbrandanalytics.com/blog/wp-content/uploads/2013/03/3-5-stars.png class="img-responsive" >
              </div>
              <br>
            </div>
            <div class="col-md-10">
              <%#<%= erb :feedback, locals: {:user => @user} %> 
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="row">
                <img src="http://i.dailymail.co.uk/i/pix/2016/05/23/22/348B85E200000578-3605456-image-m-37_1464040594420.jpg" class="img-responsive">
              </div>
              <div class="row">
                <img src=https://www.newbrandanalytics.com/blog/wp-content/uploads/2013/03/3-5-stars.png class="img-responsive" >
              </div>
              <br>
            </div>
            <div class="col-md-10">
              <textarea class="form-control" rows="6">The Rock is the best damn Intercontinental Champion there ever was. The Rock is gonna lay the smackdown on your candy ass. How dare you, you little jabroni. The Rock is going to show you why he is, without a shadow of a doubt, the most electrifying man in sports entertainment. Hold the mic up, jabroni, before The Rock slaps the taste out of your mouth! IT DOESN'T MATTER WHAT YOUR NAME IS! </textarea><br>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <div class="row">
                <img src="https://www.cheme.cornell.edu/engineering2/customcf/iws_ai_faculty_display/ai_images/mjp31-profile.jpg" class="img-responsive">
              </div>
              <div class="row">
                <img src=https://www.newbrandanalytics.com/blog/wp-content/uploads/2013/03/3-5-stars.png class="img-responsive" >
              </div>
              <br>
            </div>
            <div class="col-md-10">
              <textarea class="form-control" rows="6">The Rock is the best damn Intercontinental Champion there ever was. The Rock is gonna lay the smackdown on your candy ass. How dare you, you little jabroni. The Rock is going to show you why he is, without a shadow of a doubt, the most electrifying man in sports entertainment. Hold the mic up, jabroni, before The Rock slaps the taste out of your mouth! IT DOESN'T MATTER WHAT YOUR NAME IS! </textarea><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= "row">
    <nav aria-label="Page navigation">
      <div class="text-center">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>