<div class="container">

  <div class= "row">
    <div class="col-md-2">
      <div class= "profile">
        <%= @profile.display_name %>
        <img src=<%= @profile.picture %> class="img-responsive">
      </div>
    </div>

    <div class="col-md-8">
      <div class="form-group">
        <textarea class="form-control" name= "content" rows="5"><%= @profile.about %></textarea>
      </div>
    </div>
    
    <div class="col-md-2">
      <a href="mailto:<%= @profile.email %>"><button class="btn btn-primary btn-lg">Connect with me</button></a>
    </div>
  </div>

  <div class= "row">
    <div class="col-md-2">
      <div class = "rating-button">
        <br>
        <button type="submit" class="btn btn-success">Rate me punk</button>
      </div>
    </div>

    <div class="col-md-4">
      <strong>Rating as a Teacher:</strong>
        <table>
          <tr>
            <td style="padding-right:10px">
              <label for="input-4" class="control-label">Likes</label>
            </td>
            <td>
              <input id="input-4" name="input-4" value="<%=@teacher_avg_feedback%>" class="rating-loading">
            </td>
          </tr>
        </table>

      <script>
        $(document).on('ready', function(){
          $('#input-4').rating({displayOnly: true, step: 0.5});
        });
      </script>
    </div>

    <div class="col-md-4">
      <strong>Rating as a Student:</strong>
       <table>
          <tr>
            <td style="padding-right:10px">
              <label for="input-5" class="control-label">Likes</label>
            </td>
            <td>
              <input id="input-5" name="input-5" value="<%=@student_avg_feedback%>" class="rating-loading">
            </td>
          </tr>
        </table>
        <script>
        $(document).on('ready', function(){
            $('#input-5').rating({displayOnly: true, step: 0.5});
        });
        </script>
    </div>
  </div>

  <div class= "row">
    <div class="col-md-2">
      <div class = "skills">
        <br>
        My Skills:
          <ul>
            <% @profile.user_skills.each do |userskill| %>
              <li><a href="/search/<%= userskill.skill_id %>"><%=Skill.find(userskill.skill_id).name %></a></li>
            <% end %>
          </ul>
      </div>
    </div>

    <div class="col-md-8">
        <div class = "feedback">
          <br style="line-height: 250%">
          <div class="row">
            <div class="col-md-2">
              <div class="row">

              </div>
              <br>
            </div>
            <div class="col-md-10">
              <%= erb :feedback, locals: {:user => @user} %> 
            </div>
          </div>

          <div class="row">
            <% @all_feedback = @profile.feedbacks %>
            <% @all_feedback.each do |feedback| %>
              <div class="col-md-2">
                <!-- <div class="row">
                  <img src="<%= @user.picture %>">
                </div> -->

                <div class="row">
                  Rating: <%= feedback.rating %>
                </div>
              </div>

              <div class="col-md-10">
                <div class="row">
                  <textarea class="form-control"><%= feedback.content %></textarea><br>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= "row">
    <nav aria-label="Page navigation">
      <div class="text-center">
        <ul class="pagination">
          <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>